<html>
    <head>
        <link href="https://fonts.googleapis.com/css2?family=Grandstander:wght@300&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/styles.css">
    </head>

    <body>

        <h1>Recipe Blog</h1>

        <form method="POST" action="/create-blogPost">
            <div id="createPostBar">
                <div id="miniPostBar">
                    <input type="text" placeholder="Blog Title" name="title" />
                    <button name="postBlogButton">Post Blog</button>
                </div>
                <textarea placeholder="Blog Post Content" name="body" rows="10" cols="80"></textarea>
                {{! <input type="text" placeholder="Blog Post Content" name="body" /> }}
            </div>
        </form>

        <ul>
        {{#blogposts}}

            <li>
            <form method="POST" action="/delete-blogPost">
                <div id="displayPostBar">
                    <p><b><i>{{postTitle}}</i></b> - <b>Date Created:</b> {{postDateCreated}} <b>Date Updated:</b> {{postDateUpdated}}</p>
                    <button name="deletePostButton">Delete Post</button>
                </div>
                <div id="displayPostBody">
                <p>{{postBody}}</p>
                </div>
                <input type="hidden" value="{{postId}}" name="post_id" />

                {{#comments}}
                    <li>
                    <div id="displayCommentBar">
                    <p><b>{{commentUserName}}</b> - {{commentDateCreated}}</p>
                    <p>{{commentContent}}</p>
                    </li>
                    </div>
                {{/comments}}
                <hr>
            </li>
            </form>
        {{/blogposts}}
        </ul>

    </body>

</html>