<html>
    <head>
        <link href="https://fonts.googleapis.com/css2?family=Grandstander:wght@300&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/styles.css">
    </head>

    <body>
        <h1>My Family Bookshelf</h1>


        <form method="POST" action="/create-book">
            <div id="createBookBar">
                <div id="miniBookBar">
                    <input type="text" placeholder="Title" name="title" />
                    <input type="text" placeholder="Author" name="author" />
                    <input type="text" placeholder="Genre" name="genre" />
                    <button name="addBookButton">Add Book</button>
                </div>
                <textarea placeholder="Book Description" name="description" rows="10" cols="80"></textarea>
                </form>
                <a href="/filter">Search Books by Genre</a> 
                <a href="/update-book">Update a Current Book</a>
            </div>

        <ul>
        {{#books}}

            <li>
            <form method="POST" action="/delete-book">
                <div id="displayBookBar">
                    <p><b><i>{{title}}</i></b> - <b>Author:</b> {{author}} - <b>Genre:</b> {{genre}}</p>
                    <button name="deleteBookButton">Delete Book</button>
                </div>
                <p><b>Book Description:</b> {{description}}</p>
                <div id="displayBookBar">
                </div>
                <input type="hidden" value="{{id}}" name="bookId" />

                <hr>
            </form>
            </li>
        {{/books}}
        </ul>


    </body>

</html>